.container__master__repo {
  display: flex;
  justify-content: center;
  margin-left: 2vw;
}

.container__portifolio {
  display: grid;
  grid-template: "avatar git" / 200px auto;
  width: 80%;
  margin-top: 5vh;
}

.avatar__por {
  grid-area: avatar;
  background-image: url('img/foto1.jpg');
}

.git__por {
  grid: git;
  background-image: url('img/git.PNG');
}
