.container__button__scroll__repo__down {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 0;
}

.container__button__scroll__repo__up {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  font-size: 30px;
  transform: rotate(180deg);
}

.button__scroll__repo {
  color: rgb(190, 144, 212);
  text-decoration: none;
}
