.background__wave {
  position: fixed;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.background__blob3,
.background__blob2 {
  position: absolute;
  width: 30%;
}

.background__blob2 {
  top: 60%;
  left: 70%;
  opacity: 0.2;
}

.background__blob3 {
  top: 40%;
  left: 67%;
  opacity: 0.4;
  transform: rotate(-80deg);
}
