.container__main {
  display: grid;
  grid-template: 100vh 100vh 100vh 50vh/1fr;
  grid-template-areas: "scop" 
                       "skill" 
                       "repo"
                       "contat";
}

.scop {
  grid-area: scop;
}

.skill {
  grid-area: skill;
}

.repository {
  grid-area: repo;
}

.contact {
  grid-area: contat;
}
