.interation__list {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.interation__skill {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 80px;
  width: 200px;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  box-shadow: 0 5px 15px -5px #00000070;
  z-index: 5;
}

.interation__skill:hover {
  background-color: skyblue;
}

.fab.fa-python,
.fas.fa-robot,
.fas.fa-file-code,
.fab.fa-js,
.fas.fa-pen-nib {
  color: rgb(35, 203, 167);
  left: 10%;
  font-size: 30px;
  padding-right: 10px;
}

.interation__skill__designer,
.interation__skill__python,
.interation__skill__html,
.interation__skill__data,
.interation__skill__js {
  font-weight: bold;
  color: rgb(4, 147, 114);
}
